$mar-0: 10px;
$mar-20: 20px;

body{
    background-color: lightgrey;
}

.odd, .even{
    background-color: grey;
    margin: $mar-20 auto $mar-20 auto;
    max-width: none;
    width: 98%;
    color: whitesmoke;
}
.even{
    background-color: darkgrey;
}

.top{
    margin-top: 70px;
}
hr{
    opacity: 0%;
}
h3{
    margin: 1em 0 1em 0;
}
.img-custom{
    width: 100%;
    height: auto;
}
.custom-link{
    font-size: 19px;
    color: black;
}
.custom-link:hover{
    color: rgb(114, 114, 114);
}
.custom-dec{
    font-weight: bold;
    font-size: 20px;
}